/*.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}*/

.carousel {
    margin-bottom: 40px;
    
}

h1 ~ p {
    margin: 12px;
    text-align: justify;
}

.footer {
    margin-bottom: 0px;
    width: 100%;
    height: 120px;
    position: static;
    bottom: 0px;
    margin: 0;
    background-color: rgba(211, 211, 211, 0.805)
}

.footer > .col-4 > ul {
    text-align: left;
    list-style-type: none;
}

.col-4 {
    text-align: center;
}

#Contacto-footer > a {
    margin-right: 10px;
}




.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

.restaurant-info{
	font-size: 10px;
	font-family: arial;
}


.grid > * {
	background: rgb(255, 255, 255);
	padding: 2rem;
  }
  
  @media screen and (min-width: 40em) {
	.grid {
	  display: grid;
	  grid-template-columns: 1fr 2fr 1fr;
	  grid-template-rows: 5rem auto auto;
	  grid-template-areas:
		"logo    navigation navigation"
		"content content    aside"
		"footer  footer     footer";
	  grid-gap: 1rem;
	}
	
	.logo {
	  grid-area: logo;
	}
	.navigation {
	  
	  grid-area: navigation;
	}
	.content {
	  grid-area: content;
	}
	.footer {
	  grid-area: footer;
	}
  }
  
  @media screen and (min-width: 60em) {
	.grid {
	  grid-template-columns: 1fr minmax(3fr, 50em) 1fr;
	  grid-template-rows: 5rem auto auto;
	  grid-template-areas:
		"logo       .          .     "
		"navigation content    aside "
		"footer     footer     footer";
	  grid-gap: 1rem;
	  min-height: 100vh;
	}
	
  }

 p{
	font-family: Arial;
	font-size: 20px;
 }
 
 /* Tabla administrador */
.admintable{
	
	display: flex;
	justify-content: center;
	max-width: 120%;
	margin: 0px auto;

}
 /* Contacto */

.containerBody{
	width: 50%;
	background-color:grey;
	background-size: contain;
	background-position: center;
	height: auto;

}
 .container{
	max-width: 800px;
	height: auto;
	background-color: fff;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 40px;
	text-align: center;
 }

 .input,
 .msg .area{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border:2px solid #e9eaea ;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	transition: all .5s;
 }

 .login .input{
	width: 48%;
	float: left;
	margin-right: 4%;
 }

 .login .input:last-child{
	margin-right: 0;
 }

 .msg .area{
	height: 200px;
 }

 .input:focus, .msg .area:focus{
	border:2px solid #0575e6;

 }

 .submit{
	width: 100%;
	text-align: center;
 }
 .submit .btn{
	background-color: antiquewhite;
	padding: 12px 85px;
	font-size: 19px;
	text-decoration: none;
	color: fff;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
 }

 ::-webkit-input-placeholder{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:black
 }

