<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comida EZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Comida EZ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="informacion.html">Información</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contenido
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="recetas.html">Recetas</a></li>
                            <li><a class="dropdown-item" href="restaurantes.html">Restaurantes</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mi cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalLogin">Ingresar</a>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalRegistro">Registro</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled">Publicar</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
               
            </div>
            
        </div>
        
    </nav>
    <!--Fin del Navbar-->
    
    <!-- Modal Login-->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ingresar</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="index.html">
                            <label for="">Correo</label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Correo" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>

                            <label for="">Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Contraseña">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>

                    </div>
                </div>
                
                <div class="modal-footer justify-content-center" class=".flex-column">

                    <button type="submit" class="btn btn-primary btn-green col-md-8">Entrar</button>
                </div>
                </form>

                <hr width=90%>

                <div class="bordeRegistro">
                    <p align="right">No tienes cuenta! <a data-bs-toggle="modal" href="#modalRegistro">Registrate
                            aquí</a>&nbsp&nbsp&nbsp&nbsp</p>
                    <!--Aquiiiiiiiiii-->
                </div>

            </div>
        </div>
    </div>

    <!--Modal Registro-->
    <div class="modal" tabindex="-1" role="dialog" id="modalRegistro">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear cuenta</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form oninput='up2.setCustomValidity(up2.value != up.value ? "Las contraseñas no coinciden" : "")'>

                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="Nombre" placeholder="Nombre o Nombres"
                                    required minlength="2" maxlength="15">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="Apellido" placeholder="Apellidos" required
                                    minlength="2" maxlength="20">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="Correo" placeholder="Tu correo" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="Contraseña" placeholder="Contraseña"
                                required name=up pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                title="La contraseña debe contener por lo menos un numero, una letra minuscula y una letra mayuscula y tener por lo menos 6 caracteres.">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="ConfContraseña"
                                placeholder="Confirmar contraseña" required name=up2>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary col-md-8 btn-green">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h1>Información</h1>
    	<!--   Tarjetas-->
        <div class="row">
            <div class="col-md-8">
              <div class="pb-3">
                <p>Informacion general de la pagina</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt esse laborum 
                     architecto sit quos ad fugiat rem nam, quae eum illo exercitationem! Illum reiciendis
                    nemo nam perferendis. Accusamus, sit architecto!</p>
                     
              </div>
              <div class="row">
                <div class="col-md-6">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ipsum voluptatem tempora, pariatur soluta laboriosam 
                        doloremque corrupti debitis tenetur repudiandae impedit ad, suscipit atque, 
                        voluptatibus officia veniam amet? Nobis, cumque?</p>
                </div>
                <div class="col-md-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
                     aperiam sequi quasi ratione atque deleniti accusantium id quo in quis voluptate. 
                     Saepe eum aperiam ducimus expedita necessitatibus odio quia nam.</p></div>
              </div>
            </div>
            <div class="col-md-4">
                <img style="height: 500px; border-radius: 13px;" src="https://foodandtravel.mx/wp-content/uploads/2022/06/Beluga-Polanco.jpg" alt="">
                </div>
          </div>  

          
                
               

    <!--Footer-->
    <div class="footer row">
        <div class="col-4">
            <h4>Contenido</h4>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h4>Fuentes</h4>
        </div>
        <div class="col-4" id="Contacto-footer">
            <h4><a href="contacto.html">Contacto</a></h4>
            <a href="https://twitter.com" id="Twitter"><span class="label"><img
                        src="https://cdn-icons-png.flaticon.com/512/60/60580.png" alt="Twitter" width="50"></span></a>
            <a href="https://www.instagram.com" id="Instagram"><span class="label"><img
                        src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Instagram" width="50"></span></a>
            <p>contacto@comidaez.com</p>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>


</html>